# KernelSU Next & Filesystems
CONFIG_KSU=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_MODULE_SIG_PROTECT=n
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS_POSIX_ACL=y

# Optimization & Compiler
CONFIG_LTO_CLANG_THIN=y

# Power & Debug Overhead Removal (Battery Optimization)
CONFIG_SLUB_DEBUG=n
CONFIG_SCHED_DEBUG=n
CONFIG_DEBUG_LIST=n
CONFIG_PM_AUTOSLEEP=y

# Networking, TCP BBRv3 & Schedulers
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=n
CONFIG_TCP_CONG_BBR3=y
CONFIG_DEFAULT_BBR3=y
CONFIG_DEFAULT_TCP_CONG="bbr3"
CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_CAKE=y

# Memory Management (MGLRU & High-speed ZRAM LZ4)
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_ZRAM=y
CONFIG_CRYPTO_LZ4=y
CONFIG_ZRAM_DEF_COMP_LZORLE=n
CONFIG_ZRAM_DEF_COMP_ZSTD=n
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_ZRAM_DEF_COMP="lz4"
CONFIG_ZRAM_WRITEBACK=n

